<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mus</title>
    <link rel="stylesheet" th:href="@{/style/index.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="image-book-2">
        
            <h3>MUS</h3>


        <ul>
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/books}">Book</a></li>
            <li><a th:href="@{/cartMuseum}">Clipboard</a></li>
            <li><a th:href="@{/locations}">Locations</a></li>
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a> </li>
            <li ><a th:href="@{/logout}">Logout</a> </li>
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">Register</a> </li>
            </li>
        </ul>

            <h4>Mon-Sun</h4>
            <h1>ORGANIZE EVENTS</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button>Organize an event.</button>

            <p id="number"> <a th:href="@{/books/bookOne}">&larr;</a>2/3<a th:href="@{/books/bookThree}">&rarr;</a></p>

            
        
        </div>

  
</body>
</html>