<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mus</title>
    <link rel="stylesheet"  th:href="@{/style/index.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="image">
        
            <h3>MUS</h3>


        <ul>
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/books/bookOne}">Book</a></li>
            <li><a href="#">Clipboard</a></li>
            <li><a th:href="@{/locations}">Locations</a></li>
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a> </li>
            <li ><a th:href="@{/logout}">Logout</a> </li>
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">Register</a> </li>
        </ul>

            <h1>DISCOVER MUSEUMS</h1>
            <p>A visit to a museum is a search for beauty, truth, and meaning in our lives. Go to museums as often as you can.</p>
            <button>See Roadmap.</button>

            <img th:src="@{/images/bucharest.png}" alt="bucharest-map">
        
        </div>

  
</body>
</html>